<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Sign In">
                <mat-card-content>
                    <form [formGroup]="login" (ngSubmit)="loginUser()">
                        <mat-form-field>
                            <input matInput placeholder="Login" required name="login" formControlName="login">
                            <mat-icon matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" required minlength="6"
                                name="password" formControlName="password">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <mat-checkbox>Remember Me!</mat-checkbox>
                        <button mat-raised-button color="primary" class="login-button">
                            Sign In
                        </button>
                    </form>
                </mat-card-content>
            </mat-tab>
            <mat-tab label="Sign Up">
                <mat-card-content>
                    <form [formGroup]="user" (ngSubmit)="cadastrar()">
                        <mat-form-field>
                            <input matInput placeholder="First Name" required name="firstName"
                                formControlName="firstName">
                            <mat-icon matSuffix>short_text</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Last Name" required name="lastName"
                                   formControlName="lastName">
                            <mat-icon matSuffix>short_text</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="email" matInput placeholder="Email" required name="email" formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Birthday*</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birthday">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Phone" required name="phone" formControlName="phone">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Login" required name="login" formControlName="login">
                            <mat-icon matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" required minlength="6"
                                name="password" formControlName="password">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="login-button">
                            Sign Up
                        </button>
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
